body {
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
}

.mainpost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: skyblue;
  border: 5px solid red;
  margin: 25px;
  height: 150px;
}

.heading {
  padding: 20px;
  padding-top: 20px;
  margin: 20px;
  font-size: 30px;
  text-decoration: none;
}

.mainpost2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  text-decoration: none;
  color: navy;
}

.nav {
  text-decoration: none;
}

.textedit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:700px;
}

/* Utilized code from my third and first lab for the button and input styling*/
/* Button code taken from https://www.w3schools.com/css/css3_buttons.asp */

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  font-size: 15px;
  width: 15%;
}

/* Referenced https://www.w3schools.com/css/css_form.asp */

.input {
  border: 5px solid red;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  font-size: 15px;
  width: 52%;
  margin-top: 20px;
  margin-bottom: 20px;
  /*min-width: 200px;*/
}

/* Used code from the following references here in CSS and in the corresponding HTML for input validation
 https://css-tricks.com/almanac/selectors/v/valid/
 https://www.w3schools.com/tags/att_input_type.asp */

.input:invalid {
  background: hsla(0, 90%, 70%, 1);
}

.input:valid {
  background: hsla(100, 90%, 70%, 1);
}

#icons {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding-right: 20px;
}

.post {
  border: 5px solid red;
}

#material {
  padding: 10px;
}
