body {
  font-family: "Roboto", sans-serif;
  background: darken(white, 0.2);
}

.mainpost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: skyblue;
  border: 5px solid red;
  margin: 25px;
  height: 150px;
}

.heading {
  padding: 20px;
  padding-top: 20px;
  margin: 20px;
  font-size: 30px;
  text-decoration: none;
}

.mainpost2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  text-decoration: none;
  color: navy;
}

.nav {
  text-decoration: none;
}

.textedit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:700px;
}

/* Button code taken from https://www.w3schools.com/css/css3_buttons.asp */

#deletebutton {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 15px;
  font-size: 15px;
  width: 15%;
}

#icons {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding-right: 20px;
}

.post {
  border: 5px solid red;
}

#material {
  padding: 10px;
}
